*.o
*.swp
src/Makefile.*
cdogs-sdl
cdogs-sdl.exe
cdogs-sdl-editor
cdogs-sdl-editor.exe
*CMakeCache.txt
CMakeFiles/
*cmake_install.cmake
src/libcdogs.a
.metadata/
RemoteSystemsTempFiles/

# Visual Studio
Debug/
Win32/
*.opensdf
*.sdf
*.suo
*.vcxproj.user