[submodule "src/tinydir"]
	path = src/tinydir
	url = https://github.com/cxong/tinydir
[submodule "src/tests/cbehave"]
	path = src/tests/cbehave
	url = https://github.com/cxong/cbehave.git
[submodule "src/cdogs/hqx"]
	path = src/cdogs/hqx
	url = https://github.com/cxong/hqx.git