---
layout: default
title: C-Dogs SDL
---
<!-- load Galleria -->
<script type="text/javascript" src="{{ site.baseurl }}/javascripts/galleria-1.2.9.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-47923731-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<div id="galleria">
  <a href="http://www.youtube.com/watch?v=DysXfUyw58M">
    <img src="http://img.youtube.com/vi/DysXfUyw58M/0.jpg" alt="Youtube screenshot"/>
  </a>
  <img 
    src="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/hqx_new.png"
    data-big="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/hqx_new.png"
    data-title="Game Screen"
    data-description=""
    alt="HQX graphics"
  />
  <img 
      src="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/4p_split_osx.png"
      data-big="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/4p_split_osx.png"
      data-title="4-player split screen on OSX"
      data-description="Play with up to 3 friends locally, co-op or deathmatch"
      alt="4 player split screen"
  />
  <img 
      src="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/menu_with_quick_play.png"
      data-big="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/menu_with_quick_play.png"
      data-title="Main menu"
      data-description="Try different game modes - Quick Play, 1 or 2 player co-op campaign, and 2 player Dogfight"
      alt="Main menu"
  />
  <img 
      src="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/4pjoys.png"
      data-big="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/4pjoys.png"
      data-title="Weapon selection screen"
      data-description="Choose from a fun and devastating arsenal"
      alt="4 players"
  />
  <img 
    src="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/quick_play.png"
    data-big="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/quick_play.png"
    data-title="Quick Play"
    data-description="Jump right in the action with Quick Play, in a randomly generated arena with a variety of enemies. No two games are the same!"
    alt="Quick play"
  />
  <a href="http://www.youtube.com/watch?v=AY4Ujdl68HI">
    <img src="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/quick_play_youtube.png" alt="Youtube quick play"/>
  </a>
  <img 
    src="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/android.png"
    data-big="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/android.png"
    data-title="Android"
    data-description="Play C-Dogs on your Android device! Find it in the Play Store"
    alt="Android screenshot"
  />
  <img 
    src="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/widescreen1.png"
    data-big="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/widescreen1.png"
    data-title="Widescreen"
    data-description="C-Dogs supports any resolution available on your platform"
    alt="Widescreen"
  />
  <img 
    src="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/split_screen.png"
    data-big="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/split_screen.png"
    data-title="Split screen"
    data-description="Play with a friend in split screen"
    alt="Split screen"
  />
  <img 
    src="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/dogfight.png"
    data-big="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/dogfight.png"
    data-title="Dogfight"
    data-description="...or shot the living daylights out of each other in the dogfight mode!"
    alt="Dogfight"
  />
  <img 
    src="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/editor1.png"
    data-big="https://raw.github.com/cxong/cdogs-sdl/master/wiki/images/screenshots/editor1.png"
    data-title="Editor"
    data-description="Make your own campaigns using the visual editor"
    alt="Editor"
  />
</div>
<div id="home">
  <h3>News</h3>
  <ul class="posts">
    {% for post in paginator.posts %}
      <h5><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | markdownify | strip_html | trim }}</a></h5>
      {{ post.content | truncatewords:75}}<br />
      <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread" data-disqus-identifier="post-{{ post.title | handleize | remove: ' ' | remove: '.' | remove: '!' }}">Read more...</a><br /><br />
    {% endfor %}
  </ul>
  
  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        {% capture baseurl_slash %}{{ site.baseurl}}/{% endcapture %}
        <a href="{{ site.paginate_path | prepend: baseurl_slash | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>

<script type="text/javascript">
  // Load the classic theme
  Galleria.loadTheme('{{ site.baseurl }}/javascripts/galleria.classic.min.js');
  // Initialize Galleria
  Galleria.run('#galleria');
</script>

<script type="text/javascript">
var disqus_shortname = 'cdogs-sdl';
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
