<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  {% feed_meta %}
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/stylesheet.css" media="screen"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/pygment_trac.css"/>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
  />
  <style type="text/css">
  </style>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/javascripts/script.js"></script>

  <title>{{ page.title }}</title>
  <meta name="description" content="Action/Arcade Game"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>

</head>

<body>

  <div class="wrapper">
    <header>
      <h1 class="title">
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}/images/title.png"
            style="margin-bottom: -25px;" alt="C-Dogs SDL"/>
        </a>
      </h1>
    </header>
    <div id="container">
      <p class="tagline">Open source, classic overhead run-and-gun game</p>
      <div id="main" role="main">
        <div class="download-bar">
          <div class="inner">
            <a href="{{ site.baseurl }}/downloads.html"
              class="download-button">
              <i class="fas fa-download"></i><span>Downloads</span>
            </a>
            <a href="http://cdogs.morezombies.net"
              class="download-button">
              <i class="fas fa-link"></i><span>Campaigns</span>
            </a>
            <a href="{{ site.baseurl }}/archive.html"
              class="download-button">
              <i class="fas fa-archive"></i><span>Archive</span>
            </a>
            <a href="https://github.com/cxong/cdogs-sdl" class="code">GitHub</a>
          </div>
          <span class="blc"></span><span class="trc"></span>
        </div>
        {{ content }}
      </div>
    </div>
    <footer>
      <div class="creds">
        <small>
          Theme by <a href="http://twitter.com/jonrohan/">Jon Rohan</a><br/>
          Contains icons from
          <a href="https://yootheme.com/icons">YOOtheme</a>,
          <a href="http://www.fatcow.com/free-icons">FatCow</a>
          and
          <a href="http://www.flaticon.com/packs/font-awesome">Font Awesome</a><br/>
        </small>
      </div>
    </footer>
  </div>

  <script>
    Fancybox.bind("[data-fancybox]", {});
  </script>
</body>
</html>
