<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on http://github.com/jonrohan -->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/stylesheet.css" media="screen"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/pygment_trac.css"/>
  <style>
	/* Galleria styles */
	html,body{background:#222;margin:0;}
	body{border-top:4px solid #000;}
	.content{color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;width:620px;margin:20px auto;}
	h1{font-size:12px;font-weight:normal;color:#ddd;margin:0;}
	p{margin:0 0 20px}
	a {color:#22BCB9;text-decoration:none;}
	.cred{margin-top:20px;font-size:11px;}
	/* This rule is read by Galleria to define the gallery height: */
	#galleria{height:480px}
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/javascripts/script.js"></script>

  <title>{{ page.title }}</title>
  <meta name="description" content="Action/Arcade Game">

  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>

  <div class="wrapper">
    <header>
      <h1 class="title"><a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/images/title.png"/> SDL</a></h1>
    </header>
    <div id="container">
      <p class="tagline">Open source, classic overhead run-and-gun game</p>
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          <a href="http://sourceforge.net/projects/c-dogs-sdl/files/C-Dogs%20SDL-0.5.5.1-Linux.tar.gz/download" class="download-button tgz"><span>Linux</span></a>
          <a href="https://play.google.com/store/apps/details?id=com.knepe.cdogs&hl=en" class="download-button android"><span>droid</span></a>
          <a href="http://sourceforge.net/projects/c-dogs-sdl/files/C-Dogs%20SDL-0.5.5.1-OSX.dmg/download" class="download-button osx"><span>OS X</span></a>
          <a href="http://sourceforge.net/projects/c-dogs-sdl/files/C-Dogs%20SDL-0.5.5.1-win32.exe/download" class="download-button windows"><span>Win</span></a>
          <a href="https://github.com/cxong/cdogs-sdl" class="code">GitHub</a>
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
          {{ content }}
        </article>
      </div>
    </div>
    <footer>
      <div class="owner">
        <p><a href="https://github.com/cxong" class="avatar"><img src="https://secure.gravatar.com/avatar/52f0d4ecc61410889a84cb361b22d2d3?s=30&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" width="48" height="48"/></a> <a href="https://github.com/cxong">cxong</a> maintains <a href="https://github.com/cxong/cdogs-sdl">C-Dogs SDL</a></p>
      </div>
      <div class="creds">
        <small>This page generated using <a href="https://pages.github.com/">GitHub Pages</a><br/>theme by <a href="http://twitter.com/jonrohan/">Jon Rohan</a><br/>
        Contains icons from <a href="http://icons.yootheme.com">http://icons.yootheme.com</a> and <a href="http://www.fatcow.com/free-icons">http://www.fatcow.com/free-icons</a><br/>
        Gallery by <a href="http://galleria.io/">Galleria</a>, under the <a href="{{ site.baseurl }}/javascripts/LICENSE.galleria">MIT license</a></small>
      </div>
    </footer>
  </div>
  <div class="current-section">
    <a href="#top">Scroll to top</a>
    <a href="https://github.com/cxong/cdogs-sdl/tarball/master" class="tar">tar</a><a href="https://github.com/cxong/cdogs-sdl/zipball/master" class="zip">zip</a><a href="" class="code">source code</a>
    <p class="name"></p>
  </div>

</body>
</html>
