<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on http://github.com/jonrohan -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  {% feed_meta %}
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/stylesheet.css" media="screen"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/pygment_trac.css"/>
  <style type="text/css">
	/* Galleria styles */
	html,body{background:#222;margin:0;}
	body{border-top:4px solid #000;}
	.content{color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;width:620px;margin:20px auto;}
	h1{font-size:12px;font-weight:normal;color:#ddd;margin:0;}
	p{margin:0 0 20px}
	a {color:#22BCB9;text-decoration:none;}
	.cred{margin-top:20px;font-size:11px;}
	/* This rule is read by Galleria to define the gallery height: */
	#galleria{height:480px}
  </style>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/javascripts/script.js"></script>

  <title>{{ page.title }}</title>
  <meta name="description" content="Action/Arcade Game"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>

</head>

<body>

  <div class="wrapper">
    <header>
      <h1 class="title">
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}/images/title.png"
            style="margin-bottom: -25px;" alt="C-Dogs SDL"/>
        </a>
      </h1>
    </header>
    <div id="container">
      <p class="tagline">Open source, classic overhead run-and-gun game</p>
      <div id="main" role="main">
        <div class="download-bar">
          <div class="inner">
            <a href="{{ site.baseurl }}/downloads.html"
              class="download-button downloads">
              <span>Downloads</span>
            </a>
            <a href="https://github.com/cxong/cdogs-sdl" class="code">GitHub</a>
          </div>
          <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
          {{ content }}
        </article>
      </div>
    </div>
    <footer>
      <div class="creds">
        <small>
          Theme by <a href="http://twitter.com/jonrohan/">Jon Rohan</a><br/>
          Contains icons from
          <a href="https://yootheme.com/icons">YOOtheme</a>,
          <a href="http://www.fatcow.com/free-icons">FatCow</a>
          and
          <a href="http://www.flaticon.com/packs/font-awesome">Font Awesome</a><br/>
          Gallery by <a href="http://galleria.io/">Galleria</a>, under the
          <a href="{{ site.baseurl }}/javascripts/LICENSE.galleria">
            MIT license
          </a>
        </small>
      </div>
    </footer>
  </div>

</body>
</html>
